
@font-face {
	font-family: 'icomoon';
	src:url('../assets/icons/dotastrat.eot?ut22r8');
	src:url('../assets/icons/dotastrat.eot?#iefixut22r8') format('embedded-opentype'),
		url('../assets/icons/dotastrat.woff?ut22r8') format('woff'),
		url('../assets/icons/dotastrat.ttf?ut22r8') format('truetype'),
		url('../assets/icons/dotastrat.svg?ut22r8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_small_arrow:before {
	content: "\e605";
}

.icon_saved:before {
	content: "\e606";
}

.icon_chat:before {
	content: "\e604";
}

.icon_search:before {
	content: "\e600";
}

.icon_settings:before {
	content: "\e601";
}

.icon_team:before {
	content: "\e602";
}

.icon_view:before {
	content: "\e603";
}