@import "paramaters";

.menu {
	width: $menu_width;
	height: 100%;
	float: left;
	display: inline-block;
	position: absolute;
	background-color: $menu_blue;
	color : $menu_text;
	font-size: $menu_font_size;
	line-height: $menu_line_height;
}

@import "profile";
@import "controls";